
h1 {
    color: orangered !important;
}

.logo {
    width: 45px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    
    opacity: 0.9; /* Adjust transparency */
}


footer {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}